<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout :: frgHead">
</head>

<body id="page-top">
	<div id="wrapper">

		<ul th:replace="Layout :: frgSideBar"></ul>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="Layout :: frgNavbar"></nav>

				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800" th:text="*{title}"></h1>

					<form class="user" th:action="@{/categoria/save}"
						th:object="${categoria}" method="post">
						<div class="form-group row">
							<div class="col-sm-2">
								<label>Nombre</label>

							</div>
							<div class="col-sm-6">
								<input type="text" class="form-control form-control-user "
									th:field="*{nombre}" id="exampleLastName" required>
							</div>
						</div>

						<input type="submit" class="btn btn-success btn-user btn-block"
							value="Guardar" />
						<hr>

					</form>

				</div>

			</div>

			<footer th:replace="Layout :: frgFooter"> </footer>

		</div>

	</div>




</body>
</html>